{% extends "blog/base.html" %}
{% load i18n %}


{% block title %}{% trans "Registration" %}{% endblock %}

{% block content %}
  <a style="display: inline-block;" href="{% url 'main' %}">
    <div style="margin-bottom: 20px;">{% trans "<- back" %}</div>
  </a>
  <h2>{% trans "Registration" %}</h2>
  <form method="post" action="{%url 'registration' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">{% trans "Continue" %}</button>
  </form>
{% endblock %}
